<div class="jumbotron jumbotron-fluid" id="jumb">
  <div class="container text-center" id="container">
    <h1 class="display-4" id="jumbtitle">News scraper</h1>
    <p class="lead" id="lead">welcome to the news scraping app</p>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light " id="navbar">
  <a class="navbar-brand" href="/articals">News scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/savedarticales">Saved articals</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" id="artcontainer">
  <div class="row text-center" id="noart" >
    <h1 style="text-align: center;margin: 0 auto; color:#c0bfbd">click scrap to get the latest news</h1>
    {{!-- <button class="btn btn-outline-success my-2 my-sm-0 btnscls" type="submit" id="scrapebtn">Scrape</button> --}}
  </div>
  <div class="row justify-content-md-center" id="noart2" >
    {{!-- <h1 style="text-align: center;margin: 0 auto; color:#c0bfbd">click scrap to get the latest news</h1> --}}
    <button class="btn btn-outline-success my-2 my-sm-0  btnscls" type="submit" id="scrapebtn">Scrape</button>
  </div>
  <div class="row" id="artctntitle" style="display:none">
    <h1>Articals</h1>
  </div>

</div>
<div class="modal" tabindex="-1" role="dialog" id="artadded">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="artsvd">Artical Saved</h1>
                </div>
            </div>
        </div>
    </div>