<div class="jumbotron jumbotron-fluid" id="jumb">
  <div class="container text-center" id="container">
    <h1 class="display-4" id="jumbtitle">News scraper</h1>
    <p class="lead" id="lead">welcome to the news scraping app</p>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light " id="navbar">
  <a class="navbar-brand" href="/articals">News scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/articals">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articalsnotes">Saved articals</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0 btnscls" type="submit" id="scrapebtn">Scrape</button>
    </form>
  </div>
</nav>
<div class="container" id="artcontainer">
  <div class="row" id="artctntitle">
    <h1>Articals</h1>
  </div>

</div>
